.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.delete-button {
    background: red;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.edit-container {
    display: flex;
    flex-direction: column;

    label {
        margin: 5px;
    }
}

.basket-item {
    padding: 15px;
    border: 1px solid black;
    margin: 15px 0;
}