.container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
}

.details {
    min-width: 600px;
    display: flex;
    flex-direction: column;
}

.information {
    align-self: center;
    margin: 15px 0 0 0;
    width: 400px;
    display: flex;
    flex-direction: column;

    & > label {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    & input {
        padding: 15px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 15px;
    }
}

.error {
    color: red;
}

.save {
    margin-top: 20px;
    align-self: flex-end;
    
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 40px;

    & > span {
        margin: 0 2px;
    }
}

.save:hover {
    background-color: #166fe5;
}

.save:disabled {
    background: grey;
}


.save.success {
    
    background: green;
}


.account-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;

    & > button {
        background-color: #1877f2;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.2s ease;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        width: 100px;
        height: 40px;

        & > span {
            margin: 0 2px;
        }
    }

    & > button:hover {
        background-color: #166fe5;
    }

    & > .delete {
        background: rgb(231, 0, 0);
    }

    & > .delete:hover {
        background: rgb(202, 3, 3);
    }
}

.divider {
    border-left: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(0,0,0,0.3);
    margin: 25px 25px;
}




.orders {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.order {
    display: flex;
    flex-direction: column;
    margin: 15px;
    & > span {
        margin: 2px 0;
    }
}

